<%= form_for(@list) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :public %>
  <%= f.check_box :public %><br>

  <h2>Tasks</h2>
  <%= f.fields_for :tasks do |task| %>
    <%= render "task", f: task %>
  <% end %>
  <p><%= link_to_add_fields "Add Task", f, :tasks %></p>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
