<h1><%= @list.name %></h1><br>
<p>
  <%= check_box "list", "public", { checked: @list.public, disabled: true } %>
  Public List
<p><br>

<%= favorite_list_button(@list) %>
<%= unfavorite_list_button(@list) %>

<h2>Tasks</h2>
<% @list.tasks.each do |task| %>
  <div class="task">
    <%= check_box "task", "done", { checked: task.done, disabled: true } %>
    <%= task.text %>
  </div>
<% end %>

<%= edit_button_for(@list) %>
